@{
    ViewBag.Title = "Creators";
}

<h1 align="center" style="font-size:450%; color:gold">@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<div class="clearfix row-1">
    <div class="fourcol first column-1">
        <img src="https://www.grandcircus.co/wp-content/uploads/2018/11/Damacious-white.jpg" alt="Damacious White">
        <h2 class="h3 center margin-bottom-0 margin-top-1">
            Damacious White
        </h2>
        <p class="center teal big margin-bottom-half" style="min-height: 44px;">
            <a href="https://github.com/damaciouswhite" onclick="javascript:window.open('https://github.com/damaciouswhite'); return false;"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/damaciouswhite" onclick="javascript:window.open('https://www.linkedin.com/in/damaciouswhite'); return false;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </p>


        <p><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Gone from recruiting IT professionals to becoming one! My goal is to use my back technical HR background with my new found technical skills to make for a complete Developer and Professional.&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Gone from recruiting IT professionals to becoming one! My goal is to use my back technical HR background with my new found technical skills to make for a complete Developer and Professional.</span></p>
        <!-- AddThis Advanced Settings generic via filter on the_content --><!-- AddThis Share Buttons generic via filter on the_content -->


    </div>


    <p><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;C#(.NET) Developer with a background in Linux System Administration&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">C#(.NET) Developer with a background in Linux System Administration</span></p>
    <!-- AddThis Advanced Settings generic via filter on the_content --><!-- AddThis Share Buttons generic via filter on the_content -->

</div> <!-- /.column-1 -->

<div class="fourcol column-2">
    <img src="https://www.grandcircus.co/wp-content/uploads/2018/11/Clayton-Cox.jpg" alt="Clayton Cox">
    <h2 class="h3 center margin-bottom-0 margin-top-1">
        Clayton Cox
    </h2>
    <p class="center teal big margin-bottom-half" style="min-height: 44px;">
        <a href="https://github.com/heemung" onclick="javascript:window.open('https://github.com/heemung'); return false;"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/claytoncox/" onclick="javascript:window.open('https://www.linkedin.com/in/claytoncox/'); return false;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </p>


    <p><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Excited for the future! Heading back to my tech roots as a C# .Net developer. &quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Excited for the future! Heading back to my tech roots as a C# .Net developer. </span></p>
    <!-- AddThis Advanced Settings generic via filter on the_content --><!-- AddThis Share Buttons generic via filter on the_content -->


</div> <!-- /.column-2 -->

<div class="fourcol last column-3">
    <img src="https://www.grandcircus.co/wp-content/uploads/2018/11/Clayton-Cox.jpg" alt="Clayton Cox">
    <h2 class="h3 center margin-bottom-0 margin-top-1">
        Clayton Cox
    </h2>
    <p class="center teal big margin-bottom-half" style="min-height: 44px;">
        <a href="https://github.com/heemung" onclick="javascript:window.open('https://github.com/heemung'); return false;"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/claytoncox/" onclick="javascript:window.open('https://www.linkedin.com/in/claytoncox/'); return false;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </p>


    <p><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Excited for the future! Heading back to my tech roots as a C# .Net developer. &quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Excited for the future! Heading back to my tech roots as a C# .Net developer. </span></p>
    <!-- AddThis Advanced Settings generic via filter on the_content --><!-- AddThis Share Buttons generic via filter on the_content -->
</div> <!-- /.column-3 -->
