

<div class="jumbotron">
    <h1 align="center" style="font-size:450%; color:gold">What's Up?</h1>
    <br />
    <br />
    <p class="lead" align="center">We are your favorite web site dedicated to enlightening you on what's up above us in Space!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<img src="https://scitechdaily.com/images/Image-of-the-Nile-at-Night-from-the-International-Space-Station.jpg" alt="World View" />

@*.earth {
      width: 300px;
      height: 300px;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    }

    .earth:after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: -20px -20px 50px 2px #000 inset;
      border-radius: 50%;
    }

    .earth > div {
      width: 200%;
      height: 100%;
      -webkit-animation: spin 30s linear alternate infinite;
      background: url(https://web.opendrive.com/api/v1/download/file.json/NTlfMTQ1MTkzNDhf?inline=1);
      /*orginal image at https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Earthmap1000x500compac.jpg/640px-Earthmap1000x500compac.jpg */
      background-size: cover;
    }
    @@keyframes spin {
      from {
        transform: translateX(-1%);
    }
     to {
        transform: translateX(-50%);
      }
    }
<<<<<<< HEAD
*@

<h2 style="color:gold"><u>Contact Form</u></h2>

<div class="container">
    <form action="/action_page.php">
        <label for="zcode" style="color:gold">Zip Code</label>
        <input type="text" id="zcode" name="Zipcode" placeholder="Enter Zip Code.." required>

        <label for="radfrom" style="color:gold">Radius From Zip Code</label>
        <input type="range" id="radfrom" name="radiusfromzip" min="1" max="20" value="10">

        <label for="scat" style="color:gold">Satellite Category</label>
        <input type="text" id="scat" name="satellitecategory" placeholder="Enter Satellite Category">

        <label for="regemail" style="color:gold">Email</label>
        <select id="regemail" name="email">
            <option value="registeremail">I want to enter email to save satellites</option>
            <option value="noregemail">I don't want to enter email to save satellites</option>
        </select>
        <br />
        <input type="submit" value="Submit">
    </form>
</div>
=======
    *@

<form action="/Satellite/GetSatCat" method="post">
    <label>Enter Location:</label><input type="text" name="userlocation" placeholder="Enter Zip Code" required />
    <label>Range</label><input type="range" min="10" max="100" value="10" class="slider" id="searchRange" name="userlocation" required />
    <br />
    <br />
    <input type="radio" name="emailSelect" value="hasEmail" />Select A Email Address<span>  </span>
    <input type="radio" name="emailSelect" value="newEmail" />Create A Email Address<span>  </span>
    <input type="radio" name="emailSelect" value="dontTrack" checked="checked" />Don't Track<br />
    <label>Enter Email Address</label><input type="email" name="enterEmail" placeholder="john.doe@gmail.com" hidden="hidden" />
    <label>Enter Email Address</label><input type="email" name="enterEmail" placeholder="john.doe@gmail.com" hidden="hidden" />


</form>
>>>>>>> 88f21eec18179ad8d610444a80bd2ecd4d075bc8
