
<div class="jumbotron">
    <h1 align="center" style="font-size:450%; color:gold">What's Up?</h1>
    <br />
    <br />
    <p class="lead" align="center">We are your favorite web site dedicated to enlightening you on what's up above us in Space!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<img src="https://scitechdaily.com/images/Image-of-the-Nile-at-Night-from-the-International-Space-Station.jpg" alt="World View" />

<!-- Button to open the modal -->
<button onclick="document.getElementById('id01').style.display='block'">What's Up</button>

<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" style="color:red">X</span>
    <form action="/User/AddUser" class="modal-content" method="post">
        <div class="container">
            <link href="~/Content/StyleSheet2.css" rel="stylesheet" type="text/css" />
            <h2 style="color:gold">What's Up</h2>
            <p>Enter information to see what's up</p>
            <hr>

            <label for="email" style="color:gold">Enter Email</label>
            <input type="text" name="Email" placeholder="Enter Email.." />

            <label for="aline" style="color:gold">Address Line</label>
            <input type="text" name="AddressLine" placeholder="Enter Address..">

            @* <div class="slidecontainer">
            <label for="radfrom" style="color:gold">Radius From Zip Code</label>
            <input type="range" min="1" max="20" value="10" class="slider" id="radfrom" name="radiusfromzip">
            <p>Value:<span id="slider"></span></p>
        </div>

        <script>
            var slider = document.getElementById("radfrom");
            var output = document.getElementById("slider");
            output.innerHTML = slider.value; // Display the default slider value

            // Update the current slider value (each time you drag the slider handle)
            slider.oninput = function () {
                output.innerHTML = this.value;
            }
        </script>
            *@


            <label for="scat" style="color:gold">Satellite Category</label>
            <select size="5" multiple="multiple" onchange="" name="satellitecategory" id="scat">
                <option value="1">Astronomy Satellites</option>
                <option value="2">Atmospheric Studies Satellites</option>
                <option value="3">Communications Satellites</option>
                <option value="4">Navagation Satellites</option>
                <option value="5">Reconaissance Satellites</option>
                <option value="6">Remote Sensing Satellites</option>
                <option value="7">Search & Rescue Satellites</option>
                <option value="8">Space Exploration Satellites</option>
                <option value="9">Weather Satellites</option>
            </select>

            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancel</button>
                <button type="submit" class="signupbtn">Enter Info.</button>
            </div>
        </div>
    </form>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == !modal) {
                close.modal
            }
        }
    </script>




