
<div class="jumbotron">
    <h1 align="center" style="font-size:450%; color:gold">What's Up?</h1>
    <br />
    <br />
    <p class="lead" align="center">We are your favorite web site dedicated to enlightening you on what's up above us in Space!</p>
</div>

<img src="https://scitechdaily.com/images/Image-of-the-Nile-at-Night-from-the-International-Space-Station.jpg" alt="World View" />






